.bank-title {
    width: 100%;
    margin: 0 auto;
    height: 100em;

}

.login {
    width: 100%;
    margin: 0 auto;
}

body {
    display: flex;
}

header {
    background: aliceblue;
    border: 5px solid black;
    text-align: center;
    padding: 5px;
}

h1 {
    font-size: 60px;
    color: black;
}

body {
    background-color: white;
    margin: 0;
}

main {
    width: 500px;
    border: 5px solid red;
    padding: 25px;
}